/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
  }
  
  /* Cabeçalho */
  header {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin-bottom: 10px;
  }
  
  h1 {
    color: #ffffff;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: background 0.3s;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background-color: #003366;
  }
  
  /* Seções */
  section {
    padding: 40px 20px;
    text-align: center;
  }
  
  .intro {
    background-color: #f2f2f2;
  }

  .logo img {
    max-width: 120px;
    width: 100%;
    height: auto;
    border-radius: 50%;
  }  
  
  .imagens-destaque img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px; /* Leve arredondamento */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  
  /* Galeria - carrossel */
  .carousel {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    scroll-snap-type: x mandatory;
  }
  
  .carousel img {
    max-height: 200px;
    scroll-snap-align: center;
    border: 3px solid #003366;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .carousel img:hover {
    transform: scale(1.05);
  }
  
  /* Vídeos e PDF */
  .videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .botao-pdf {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  
  .botao-pdf:hover {
    background-color: #005bb5;
  }
  
  /* Rodapé */
  footer {
    background-color: #003366;
    color: white;
    padding: 30px 20px;
    text-align: center;
  }
  
  footer a {
    color: #ffffff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
      gap: 10px;
    }
  
    .carousel img {
      max-height: 150px;
    }
  
    .videos iframe {
      width: 100%;
      height: auto;
    }
   
    /* Banner de boas-vindas */
#welcome-banner {
    position: fixed;
    top: -60px;
    left: 0;
    right: 0;
    background-color: #003366;
    color: white;
    padding: 100px;
    font-weight: bold;
    text-align: center;
    z-index: 1000;
    transition: top 0.5s ease;
    border-radius: 0 0 12px 12px;
  }
  
  #welcome-banner.show {
    top: 0;
  }
  
  }
  